<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="icon" type="image/png" href="../assets/star.png" sizes="32x32">
</head>
<body>
    <div id="darkModeContainer">
        <button id="darkModeToggle" aria-label="Toggle dark mode">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
        </button>
    </div>
    <h1 class="centered">About Me</h1>
            <div class="content-container">
            <h2 class="centered">Achievements:</h2>
            <div class="bubble-container">
            <li><h3 class="centered">Engineering Deans List (GPA 3.75 or above)</h3></li>
            <li><h3 class="centered">KU Distinguished Merit Scholarship Award</h3></li>
            </div>
            <hr>
            <h2 class="centered">Extracurriculars:</h2>
            <div class="bubble-container">
            <h5>Women in Computing (2022 - Present):</h5>
            <ul>
                <li>A University of Kansas club focused on connecting women majoring in computer science with each other, the department, and the industry.</li>
            </ul>
            <h5>IHAWKe (2021 - Present):</h5>
            <ul>
                <li>A University of Kansas club focused on engaging and advising minorities of the Engineering School to support students by connecting with mentors.</li>
            </ul>
            <h5>Kappa Kappa Gamma (2021 - Present):</h5>
            <ul>
                <li>Current member of the Omega Chapter of the Kappa Kappa Gamma sorority. Activities include philanthropy events, fundraisers, volunteering, and maintaining academic excellence.</li>
                <li>Technology Chair (Aug 2023 - Present): Database management & error resolution</li>
            </ul>
        </div>
        </div>
         <script src="../script.js"></script>
</body>
</html>