<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="icon" type="image/png" href="../assets/star.png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
    <div id="darkModeContainer">
        <button id="darkModeToggle" aria-label="Toggle dark mode">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
          </svg>
        </button>
    </div>
    <h1 class="centered">Relevant Experience:</h1>
    <div class="content-container">
    <h3>Blue Cross Blue Shield KS: Robotics Processing Automation Engineering Intern</h3>
    <h5>(May 2024 - August 2024)</h5>
    <div class="bubble-container">
    <ul>
    <li>Will be assisting in implementing, analyzing and troubleshooting to ensure successful incorporation of the digital workforce into the organizational culture.</li>
    <li>Will gain expertise in software development, configuration, administration and deployment of automation solutions, support of the RPA infrastructure, and the overall architecture.</li>
    </ul>
    </div>
    </div>
    <div class="content-container">
    <h3>VIOLA Walkhome: Software Engineering Intern</h3>
    <h5>(May 2023 - July 2023)</h5>
    <div class="bubble-container">
    <ul>
        <li>App troubleshooting and performance analysis</li>
        <li>Front-end and Back-end development tasks and testing</li>
        <li>API research and integration for map/navigation feature</li>
        <li>Researched and analyzed competitor apps</li>
        <li>Wrote documentation for app set up and build on iOS and Android platforms (Check 'Other Links' for downloadable pdf)</li>
    </ul>
    </div>
    </div>
    <script src="../script.js"></script>
</body>
</html>